<h2>Auto complete search box</h2>
<app-auto-complete-dropdown
  *ngFor="let autoCompleteOptions of autoCompleteOptionsList"
  [autoCompleteOptions]="autoCompleteOptions"
  startsWith="true"
></app-auto-complete-dropdown>

<h2>Expansion panel component</h2>
<app-expansion-panel>
  <expansion-panel-title class="expansion-panel-title">
    Minutes of meeting for Meeting 1
  </expansion-panel-title>
  <expansion-panel-summary class="expansion-panel-summary">
    Meeting duration 30 minutes
  </expansion-panel-summary>
  <expansion-panel-content class="expansion-panel-content">
    <p><strong>Date:</strong> 03/07/2020</p>
    <h4>Participants</h4>
    <ul>
      <li>Participant 1</li>
      <li>Participant 2</li>
      <li>Participant 3</li>
      <li>Participant 4</li>
    </ul>
    <h4>Agenda</h4>
    <ul>
      <li>Agenda 1</li>
      <li>Agenda 2</li>
      <li>Agenda 3</li>
    </ul>
  </expansion-panel-content>
</app-expansion-panel>
<app-expansion-panel>
  <expansion-panel-title class="expansion-panel-title">
    Minutes of meeting for Meeting 2
  </expansion-panel-title>
  <expansion-panel-summary class="expansion-panel-summary">
    Meeting duration 15 minutes
  </expansion-panel-summary>
  <expansion-panel-content class="expansion-panel-content">
    <p><strong>Date:</strong> 04/07/2020</p>
    <h4>Participants</h4>
    <ul>
      <li>Participant 1</li>
      <li>Participant 2</li>
      <li>Participant 3</li>
      <li>Participant 4</li>
    </ul>
    <h4>Agenda</h4>
    <ul>
      <li>Agenda 1</li>
      <li>Agenda 2</li>
      <li>Agenda 3</li>
    </ul>
  </expansion-panel-content>
</app-expansion-panel>
